<!DOCTYPE html>
<html>
    <%- include('head'); %>
<body>
    <%- include('navbar'); %>
    <div class="container">
        <button class="btn btn-primary mt-3 mb-3" type="button" onClick='window.location.href = "/tablica"'>Tablica</button>
        <button class="btn btn-primary mt-3 mb-3" type="button" onClick='window.location.href = "/raspored"'>Raspored</button>
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Klub</th>
                <th scope="col">Uk</th>
                <th scope="col">Pob</th>
                <th scope="col">Ner</th>
                <th scope="col">Por</th>
                <th scope="col">G+</th>
                <th scope="col">G-</th>
                <th scope="col">GR</th>
                <th scope="col">Bod</th>
              </tr>
            </thead>
            <tbody>
                <% for(let rezultat of rezultati) { %>
                    <tr>
                        <% for(let item of rezultat) { %>
                            <td><%= item %></td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
          </table>
    </div>
</body>
</html>

<script type="text/javascript">

</script>